.wrapper {
    width: 300px;
    height: 250px;
    overflow: hidden;
    border: 1px solid #6f6f6f;
    float: right;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    height: 59px;
}

.bb-white {
    border-bottom: 1px solid #fff;
}

.bl-white {
    border-right: 1px solid #fff;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.bg-color-black {
    background: #000;
}

.w100 {
    width: 100%;
}

.w300 {
    width: 300px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.bg-image {
    z-index: -1;
}

.m-auto {
    margin: auto;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.t0 {
    top: 0;
}

.b0 {
    bottom: 0;
}

.l0 {
    left: 0;
}

.r0 {
    right: 0;
}

.fl {
    float: left;
}

.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
/*----- Video -----*/

.vdo {
    width: 100%;
    height: 100%
}

/* .vdo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.obj {
    width: 524px;
    height: 250px;
}

.banner {
    width: 300px;
    height: 40px;
    border-bottom: 1px solid #252525;
}

#thumbholder {
    height: 169px;
    z-index: 888;
    background: #000000bf;
    visibility: hidden;
}

#galleryHolder {
    height: 169px;
    z-index: 999;
    background: #000000bf;
    visibility: hidden;
}

.btn {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.btn-wrapper {    
    width: 100%;
    background: #000;
    border-top: 1px solid #252525;
}

.logo {
    width: auto;
    height: auto;
    margin-left: 9px;
}

.am-feature-container{

}

.content-holder{
    width: 100%;
    height: 100%;
    background: #000;
}

 .anim-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c8c8c8;
    text-align: center;
    /* font-size: 19px; */
    font-weight: bold;
    /* line-height: 1px; */
    /* padding: 2px 8px; */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
    user-select: none;
    z-index: 1001;
    visibility: hidden;
  }
  
  .anim-close-btn {
    width: 20px;
    height: 20px;
    z-index: 200;
    position: relative;
    border-radius: 50%;
  }
  
  .powered-by-container {
    position: absolute;
    width: 0;
    height: 20px;
    top: 0;
    right: 10px;
    z-index: 103;
    color: red;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s ease !important;
    background-color: rgb(223, 183, 34);
    border-radius: 20px 0 0 20px;
    visibility: hidden;
  }
  
  .powered-txt-1,
  .powered-txt-2 {
    display: inline;
    background-color: rgb(223, 183, 34);
    color: rgba(0, 0, 0, 1);
    border-radius: 20px 0 0 20px;
    font-size: 13px;
    padding: 3px;
    font-weight: 600;
  }
  
  .powered-txt-2 {
    background-color: #0099cc;
    color: white;
    padding: 4px 15px;
  }
  
  .anim-close:hover .powered-by-container {
    /* left: -160px; */
    width: 160px;
    padding-left: 10px;
  }

  .brand-logo {
    position: absolute;
    z-index: 99;
    padding: 7px;
}

.brand-logo img{
    width: 100%;
}

.am-feature-container {
    position: absolute;
    z-index: 97;
    left: 0;
    top: 0;
    width: 970px;
    height: 546px;
    display: block;
}

.am-feature-container {
    position: absolute;
    z-index: 97;
    left: 0;
    top: 0;
    width: 970px;
    height: 546px;
    display: block;
    background-color: #fff;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.clickBox{
    display: block;
    position: absolute;
    width: 215px;
    height: 83px;
    bottom: 90px;
    z-index: 1010;
    /* background-color: #ff000075; */
}

.posa{
    left: 147px;
}

.posb{
    left: 378px;
}


.posc{
    right: 147px;
}

#expander{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1012;
    /* background-color: brown; */
    cursor: pointer;
}

.bd-title{
    position: absolute;
    top: 43px;
    margin: auto;
    left: 0;
    right: 0;
}